#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/**
 * Arsenik Symbols:
 *   ^<>$% @&*'`
 *   {()}= \+-/"
 *   ~[]_# |!;:?
 */

// first row
#define S_CARET &kp RA(Q)
#define S_LT    &kp RA(W)
#define S_GT    &kp RA(E)
#define S_DLLR  &kp RA(R)
#define S_PRCNT &kp RA(T)
#define S_AT    &kp RA(Y)
#define S_AMPS  &kp RA(U)
#define S_STAR  &kp RA(I)
#define S_SQT   &kp RA(O)
#define S_GRAVE &kp RA(P)

// second row
#define S_LBRC  &kp RA(A)
#define S_LPAR  &kp RA(S)
#define S_RPAR  &kp RA(D)
#define S_RBRC  &kp RA(F)
#define S_EQUAL &kp RA(G)
#define S_BSLH  &kp RA(H)
#define S_PLUS  &kp RA(J)
#define S_MINUS &kp RA(K)
#define S_FSLH  &kp RA(L)
#define S_DQT   &kp RA(SEMI)

// third row
#define S_TILDE &kp RA(Z)
#define S_LBKT  &kp RA(X)
#define S_RBKT  &kp RA(C)
#define S_UNDER &kp RA(V)
#define S_HASH  &kp RA(B)
#define S_PIPE  &kp RA(N)
#define S_EXCL  &kp RA(M)
#define S_SEMI  &kp RA(COMMA)
#define S_COLON &kp RA(DOT)
#define S_QMARK &kp RA(FSLH)

// additional symbols (Ergol)
#define S_COMMA &kp DOT
#define S_DOT   &kp N

/**
 * Home-Row Mods
 */

#define HRM_S &hrm LGUI S
#define HRM_D &hrm LCTL D
#define HRM_F &hrm LALT F
#define HRM_J &hrm LALT J
#define HRM_K &hrm RCTL K
#define HRM_L &hrm RGUI L

/**
 * Timing is Key!
 */

#define TAPPING_TERM 225
&sl{ quick-release; }; // seems useless (works fine without)
&sk{ quick-release; }; // must have (lots of false positives otherwise)

/ {
    behaviors {
        hrm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <TAPPING_TERM>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        sc: space_cadet { // same as lt, but with hold-preferred
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <TAPPING_TERM>;
            flavor = "hold-preferred";
            bindings = <&mo>, <&kp>;
        };

        // like ZMK's sticky layer (sl) but with a more robust timing
        osl: one_shot_layer {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            tap-ms = <0>;
            wait-ms = <0>;
            bindings = <&macro_param_1to1>, <&macro_tap &sl MACRO_PLACEHOLDER>;
        };
        bsl: better_sticky_layer {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <TAPPING_TERM>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&osl>;
        };

        // like ZMK's sticky key (sk) but with a more robust timing
        osm: one_shot_modifier {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            tap-ms = <0>;
            wait-ms = <0>;
            bindings = <&macro_param_1to1>, <&macro_tap &sk MACRO_PLACEHOLDER>;
        };
        bsk: better_sticky_key {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <TAPPING_TERM>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&osm>;
        };
    };

    macros {
        cmd: command_key {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings
                = <&macro_press &kp LCTL>
                , <&macro_param_1to1>
                , <&macro_tap &kp MACRO_PLACEHOLDER>
                , <&macro_release &kp LCTL>;
        };

        sh_tab: shift_tab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LSHIFT>
                , <&macro_tap &kp TAB>
                , <&macro_release &kp LSHIFT>;
        };

        n_prev: navigation_prev {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp LEFT>
                , <&macro_release &kp LALT>;
        };

        n_next: navigation_next {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp RIGHT>
                , <&macro_release &kp LALT>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // 0. Base layer -- keep the QWERTY key codes to use your OS keyboard layout
        //               -- adjust the homerow mods according to your OS and preferences
        //               -- the Space Cadet layer-tap on the right can be replaced by an AltGr/Enter mod-tap
        default_layer {
            display-name = "Base";
            bindings = <
   &none     &kp Q  &kp W  &kp E  &kp R  &kp T        &kp Y  &kp U  &kp I     &kp O   &kp P      &none
   &kp TAB   &kp A  HRM_S  HRM_D  HRM_F  &kp G        &kp H  HRM_J  HRM_K     HRM_L   &kp SEMI   &kp BSPC
   &kp ESC   &kp Z  &kp X  &kp C  &kp V  &kp B        &kp N  &kp M  &kp COMMA &kp DOT &kp FSLH   &kp ENTER
         &bsk LSHIFT LSHIFT  &sc 4 BSPC  &sc 2 ESC    &sc 3 ENTER  &lt 4 SPACE  &bsl 1 1
            >;
        };

        // 1. Symbols layer -- basically just an AltGr layer with custom thumb keys
        //                  -- could be adjusted for non-AltGr layouts such as QWERTY-ANSI
        symbols {
            display-name = "Symbols";
            bindings = <
   &none S_CARET S_LT    S_GT    S_DLLR  S_PRCNT       S_AT    S_AMPS  S_STAR  S_SQT   S_GRAVE  &none
   &none S_LBRC  S_LPAR  S_RPAR  S_RBRC  S_EQUAL       S_BSLH  S_PLUS  S_MINUS S_FSLH  S_DQT    &none
   &none S_TILDE S_LBKT  S_RBKT  S_UNDER S_HASH        S_PIPE  S_EXCL  S_SEMI  S_COLON S_QMARK  &none
                      &trans  &kp SPACE  &bsl 2 2      &trans  &kp RALT  &trans
            >;
        };

        // 2. NumRow layer -- keep the QWERTY key codes to use your OS keyboard layout
        //                 -- best used along with the VimNav layer
        num_row {
            display-name = "NumRow";
            bindings = <
   &none &kp RS(N1) &kp RS(N2) &kp RS(N3) &kp RS(N4) &kp RS(N5)       &kp LS(N6) &kp LS(N7) &kp LS(N8) &kp LS(N9) &kp LS(N0) &none
   &none &kp N1     &kp N2     &kp N3     &kp N4     &kp N5           &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &none
   &none &none      &none      &none      &none      &none            S_MINUS    S_COMMA    S_DOT      S_COLON    S_FSLH     &none
                              &trans  &kp RS(SPACE)  &trans           &trans  &kp LS(SPACE)  &trans
            >;
        };

        // 3. NumNav layer -- inverted T arrow cluster on the left hand, numpad on the right hand
        //                 -- can be the only extra layer you need if you're not too picky with number+symbols n-grams
        //                 -- keyboard shortcuts on the left hand are adjusted to the OS layout (Ergol here)
        num_nav {
            display-name = "NumNav";
            bindings = <
   &none &kp TAB  &kp HOME &kp UP   &kp END   &kp PG_UP          &none   &kp N7  &kp N8  &kp N9  S_FSLH  &none
   &none &kp CAPS &kp LEFT &kp DOWN &kp RIGHT &kp PG_DN          S_MINUS &kp N4  &kp N5  &kp N6  &kp N0  &none
   &none &cmd Z   &cmd X   &cmd W   &cmd V    &sh_tab            S_COMMA &kp N1  &kp N2  &kp N3  S_DOT   &none
                           &trans   &mo 5     &kp DEL            &trans  &mo 5   &trans
            >;
        };

        // 4. VimNav layer -- HJKL arrow cluster on the right hand
        //                 -- best used along with the NumRow layer
        //                 -- keyboard shortcuts on the left hand are adjusted to the OS layout (Ergol here)
        vim_nav {
            display-name = "VimNav";
            bindings = <
   &none &kp CAPS &cmd T   &n_prev  &n_next  &none        &kp HOME &kp PG_DN &kp PG_UP &kp END   &none  &none
   &none &cmd A   &cmd S   &sh_tab  &kp TAB  &none        &kp LEFT &kp DOWN  &kp UP    &kp RIGHT &none  &none
   &none &cmd Z   &cmd X   &cmd W   &cmd V   &none        &none    &none     &none     &none     &none  &none
                           &trans   &trans   &trans       &trans   &trans    &trans
            >;
        };

        // 5. Function layer -- F1..12 pad on the left hand, HRM on the right hand (with an additional Shift key)
        //                   -- reset and bootloader reset on difficult thumb keys
        //                   -- could be completed with other rare keys
        function {
            display-name = "Function";
            bindings = <
   &none &kp F1  &kp F2  &kp F3  &kp F4  &none         &none &kp PAUSE_BREAK &kp PSCRN &kp SYSREQ &none      &none
   &none &kp F5  &kp F6  &kp F7  &kp F8  &none         &none &kp LALT        &kp RCTL  &kp RGUI   &kp RSHIFT &none
   &none &kp F9  &kp F10 &kp F11 &kp F12 &none         &none &none           &none     &none      &none      &none
                         &trans  &trans  &bootloader   &sys_reset  &trans  &trans
            >;
        };
    };
};
